/packages
/.vs
/BlankSpider.Api/obj
/BlankSpider.Api/bin
/BlankSpider.Spider/obj
/BlankSpider.Spider/bin
/BlankSpider.Test/obj
/BlankSpider.Test/bin
/DefaultTemplate/obj
/DefaultTemplate/bin
/TaxonomyTemplate/obj
/TaxonomyTemplate/bin
/ArchiviedTemplate/bin
/ArchiviedTemplate/obj
/BlankSpider.App/bin
/BlankSpider.App/obj
/BlankSpider.Data/bin
/BlankSpider.Data/obj
/BlankSpider.Enum/bin
/BlankSpider.Enum/obj
/BlankSpider.Event/bin
/BlankSpider.Event/obj
/BlankSpider.Extension/bin
/BlankSpider.Extension/obj
/BlankSpider.Logging/bin
/BlankSpider.Logging/obj
/BlankSpider.Scheduler/bin
/BlankSpider.Scheduler/obj
/VNEXPRESS/bin
/VNEXPRESS/obj
