<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <appSettings>
    <add key="URL_LOAD_CONFIG" value="http://192.168.23.130:8089/api/v.1/"/>
    <!--<add key="URL_LOAD_CONFIG" value="http://bo.luuchieubaochi.digicomdemo.vn/api/v.1/"/>-->
    <!--<add key="SERVER_IP" value="118.107.88.24"/>-->
    <!--<add key="SERVER_IP" value="192.168.10.199"/>
    <add key="ENVIROMENT" value="TEST"/> --><!--TEST,PRODUCTION-->

    <add key="SERVER_IP" value="0.0.0.0"/>
    <add key="ENVIROMENT" value="TEST"/>
    <!--TEST,PRODUCTION-->
    
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IPDFConverterService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://118.107.71.36:8392/PDFConverterService"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPDFConverterService"
        contract="CaptureArchivied.IPDFConverterService" name="BasicHttpBinding_IPDFConverterService" />
    </client>
  </system.serviceModel>
</configuration>
